<main>

  <section>
    <div>
      <div>
        <h2>Hello! It's Shabnam 😊</h2>
        <p>A developer and passionate designer for creating entertaining user
          experience🌟
          <br />Currently studying at Georgian College as a student of Computer
          Programming.</p>
      </div>
      <div>
        <img src="/images/girl.jpg" alt="" />
      </div>
    </div>
  </section>

  <!-- =================== GO TOP BUTTON ================================== -->
  <section style="background-color: white;">
    <a href="#top"><div></div></a>
  </section>

  <!-- ===================================== ABOUT ME ======================================= -->
  <section>
    <div>
      <div>
        <h2>About Me 🌸</h2>
        <p>
          Thanks for scrolling this far!! 🤗 Before coming to college, I learnt
          coding in my hometown back in India.
          <br />
          Other than coding, I spend most of my free time with my friends. 🤓
          I've also been trying to read more so feel free to reach out to me
          with any book or website recommendations!
        </p>
      </div>
      <div>
        <img src="/images/me.jpg" alt="" id="me" />
      </div>
    </div>
  </section>
  <!-- ===================================== Under the guidance Of ======================================= -->
  <section>
    <div>
      <div>
        <img src="assets/girl.jpg" alt="" id="prof" />
      </div>
      <div>
        <h2>Under the guidance Of 🌸</h2>
        <p>
          I am able to accomplish this project under the guidance of my Rev.
          Prof Jesus Eduardo Jaime Gandarilla.
          <br />
          Thank You Prof for all you did to make me reach this level 😊
        </p>
      </div>

    </div>
  </section>

  <!-- ===================================== MY TOOLKIT ======================================= -->
  <section>

    <div>
      <h2>My Toolkit💻</h2>
      <div>
        <figure>
          <img src="/images/bootstrap.png" alt="" id="toolkit" />
          <figcaption>Bootstrap</figcaption>
        </figure>
        <figure>
          <img src="/images/html5.jpeg" alt="" id="toolkit" />
          <figcaption>HTML5</figcaption>
        </figure>
        <figure>
          <img src="/images/css3.png" alt="" id="toolkit" />
          <figcaption>CSS3</figcaption>
        </figure>
        <figure>
          <img src="/images/GitHub_logo.png" alt="" id="toolkit" />
          <figcaption>GitHub</figcaption>
        </figure>
      </div>
    </div>

  </section>

</main>