/* ===================== MY TOOLKIT ============================ */
main section div {
    align-self: flex-start;
    margin-top: 3em;
    /* background-color: blue; */
    flex-wrap: wrap;
    height: 36em;
  }
  
  main section div h2 {
    /* background-color: red; */
    width: 40em;
    align-self: flex-center;
  }
  
  main section div div {
    /* background-color: maroon; */
    height: 60em;
    align-self: flex-end;
    
    justify-content: space-evenly;
    /* display: block; */
  
  }
  
  figcaption {
    margin-left: 4em;
  }
  
  #toolkit {
    width: 16em;
    height: 16em;
    margin: 2em;
  }
  